html{
    margin: 0; padding: 0;
    min-height: 100vh;
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

body{
    margin: 0; padding: 0;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    background-color: $background;
    @include lg{
        flex-direction: row;
    }
}

h1 {
    font-family: "Milkshake";
    font-weight: 900;
    margin: 20px 0 0 0;
    color: $base-color;
    font-size: 5rem;
    text-align: center;
    @include lg{
        font-size: 12rem;
    }
    span {
        font-weight: 700;
    }
}

h2{
    font-size: 2.4rem; 
    margin: 0;
    color: $background;
    display: inline-flex;
    padding: 15px 30px 15px 30px;
    border-radius: 55px;
    background-color: $highlight-color;
    @include lg{
        font-size: 4rem;
    }
}

section{
    p:first-of-type{
        text-indent: 50px;
    }
    .dontindent{
        text-indent: 0px !important;
    }
}

p, a{
    font-size: 1.8rem;
    color: $text-color;
    text-decoration: none;
    span{
        color: $base-color;
        font-weight: 700;
    }
    @include lg{
        font-size: 2.1rem;
    }
}

a:hover{
    text-decoration: underline;
}

form{
    width: 80%;
    margin: 30px auto 30px auto;
    @include lg{
        width: 60%;
    }
    input[type="text"], input[type="email"], textarea{
        width: calc(100% - 33px);
        padding: 10px 15px;
        border: 1px solid $base-color;
        margin-bottom: 10px;
    }
    textarea{
        resize: vertical;
        height: 18rem;
    }
    input[type="submit"]
    {
        width: 100%;
        padding: 8px 15px;
        text-align: center;
        font-weight: bold;
        background-color: $base-color;
        color: white;
        border: none;
    }
}

hr{
    border: none;
    height: 1px;
    background-color: $base-color;
}

.image{
    background-color: $second-color;
    height: 36vw;
    border-radius: 40px;
    @include lg{
        height: 26vw;
    }

    @include rwd(1365){
        height: 100%;
    }
}

.content-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accueil-bg{
    @include rwd(1365){
        background-image:
        url("../images/splash2.svg"),
        url("../images/splash4.svg"),
        url("../images/splash1.svg"),
        url("../images/splash6.svg"),
        url("../images/splash5.svg"),
        url("../images/splash3.svg");
        background-position:
        94% 11.5%,
        7% 29%,
        89% 37%,
        4% 55%,
        95% 73%,
        11% 95%;
        background-repeat:
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat; 
    }
}

.langue{
    font-size: 2.1rem;
    color: $highlight-color;
    display:none;
    @include lg{
        display: block;
        position: absolute;
        top:14px; right:14px;
    }
    a{
        color: $highlight-color;
    }
    span{
        font-weight: 700;
    }
}

.content{
    width: 83%;
    @include lg{
        max-width: 975px;
    }
}

.icon{
    height: 36px;
    width: 36px;
    margin: 10px;
    margin-bottom: -10px;
}

.accueil-middle{
    display: flex;
    flex-direction: column;
    @include rwd(1365){ // >=1366px width
        display: grid;
        width: 100%;
        max-width: 975px;
        margin-top: 60px;
        grid-template-columns: auto auto;
        grid-template-rows: 245px 255px 85px 205px 480px;
        grid-column-gap: 80px;
        grid-row-gap: 50px;

        .accueil-don{
            .h2title{
                justify-content: start;
            }
        }
        .don-image{
            grid-column: 2;
        }

        .accueil-news{
            grid-column: 2;
            grid-row: 2;
            .h2title{
                justify-content: end;
            }
            p{
                text-align: right;
            }
        }
        .news-image{
            grid-area: 2 / 1 / 4 / 2;
        }

        .accueil-bibliotheque{
            grid-column: 1;
            grid-row: 4;
            align-self: center;
            .h2title{
                justify-content: start;
            }
        }
        .bibliotheque-image{
            grid-area: 3 / 2 / 5 / 3;
        }

        .accueil-ouverture{
            grid-column: 2;
            grid-row: 5;
            .h2title{
                justify-content: end;
            }
        }
        .ouverture-image{
            grid-column: 1;
            grid-row: 5;
        }
    }
}
.don-image{
    background: url("../images/photos/IMG_1085.jpg");
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    background-repeat: no-repeat;
    background-size: 125%;
    background-position: -75px -20px;
}
.news-image{
    background: url("../images/photos/IMG_1079.jpg");
    background-size: cover;
    background-position: -100px 0;
    background-repeat: no-repeat;
}
.bibliotheque-image{
    background: url("../images/photos/IMG_1058.jpg");
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: -20px -120px;
}
.ouverture-image{
    background: url("../images/photos/IMG_1039.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -125px 0px;
}

.h2title{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
    h2{
        font-family: "Milkshake";
        white-space: nowrap;
    }
    @include rwd(1365){
        padding:0;
    }
}

.accueil-livres{
    @include rwd(1365){
        margin-top: 60px;
        .h2title{
            justify-content: start;
        }
    }
}

.accueil-livres-display{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include lg{
        flex-direction: row;
    }
}

.accueil-livres-single{
    display: flex;
    flex-direction: column; 
    p{
        text-align: center;
        color: $highlight-color;
        width: 100%;
    }
    img{
        max-width: auto;
        background-color: $second-color;
        //width: fit-content;
        margin: 0 auto;
    }   
    display: flex;
    flex-direction: column; 
}

.accueil-video{
    @include rwd(1365){
        margin-top: 60px;
        .h2title{
            justify-content: end;
        }
    }
}

.video-wrapper{
    position: relative;
    margin: 40px auto;
    width: 100%;
    padding-top: 56.25%; /* To keep 16:9 aspect ratio */
    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}