html{
    margin: 0; padding: 0;
    min-height: 100vh;
    font-size: 62.5%;
    font-family: "Futura";
    font-weight: 300;
}

body{
    margin: 0; padding: 0;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    background-color: $background;
    @include lg{
        flex-direction: row;
    }
}

h1 {
    font-family: "Butler";
    font-weight: 900;
    margin: 20px 0 0 0;
    color: $base-color;
    font-size: 6.8rem;
    text-align: center;
    @include lg{
        font-size: 12rem;
    }
    span {
        font-weight: 700;
    }
}

h2{
    font-size: 2.4rem; 
    margin: 0;
    color: $background;
    display: inline-flex;
    padding: 15px 30px 15px 30px;
    border-radius: 55px;
    background-color: $highlight-color;
    white-space: nowrap;
    @include lg{
        font-size: 4rem;
    }
}

section{
    p:first-of-type{
        text-indent: 50px;
    }
    .dontindent{
        text-indent: 0px !important;
    }
}

p, a{
    font-size: 1.8rem;
    color: $base-color;
    text-decoration: none;
    span{
        font-weight: 700;
    }
    @include lg{
        font-size: 2.1rem;
    }
}

a:hover{
    text-decoration: underline;
}

form{
    width: 80%;
    margin: 30px auto 30px auto;
    @include lg{
        width: 60%;
    }
    input[type="text"], input[type="email"], textarea{
        width: calc(100% - 33px);
        padding: 10px 15px;
        border: 1px solid $base-color;
        margin-bottom: 10px;
    }
    textarea{
        resize: vertical;
        height: 18rem;
    }
    input[type="submit"]
    {
        width: 100%;
        padding: 8px 15px;
        text-align: center;
        font-weight: bold;
        background-color: $base-color;
        color: white;
        border: none;
    }
}

hr{
    border: none;
    height: 1px;
    background-color: $base-color;
}

.image{
    background-color: $second-color;
    height: 36vw;
    border-radius: 40px;
    @include lg{
        height: 26vw;
    }

    @include rwd(1365){
        height: 100%;
    }
}

.content-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.langue{
    font-size: 2.1rem;
    color: $highlight-color;
    display:none;
    @include lg{
        display: block;
        position: absolute;
        top:14px; right:14px;
    }
    a{
        color: $highlight-color;
    }
    span{
        font-weight: 700;
    }
}

.content{
    width: 83%;
    @include lg{
        max-width: 975px;
    }
}

.icon{
    height: 36px;
    width: 36px;
    margin: 10px;
    margin-bottom: -10px;
}

.accueil-middle{
    display: flex;
    flex-direction: column;
    @include rwd(1365){ // >=1366px width
        display: grid;
        width: 100%;
        max-width: 975px;
        margin-top: 60px;
        grid-template-columns: auto auto;
        grid-template-rows: 235px 260px 85px 85px 185px;
        grid-column-gap: 80px;
        grid-row-gap: 50px;

        .accueil-news{
            .h2title{
                justify-content: start;
            }
        }

        .accueil-kulturpass{
            grid-column: 2;
            grid-row: 2;
            align-self: center;
            .h2title{
                justify-content: end;
            }
            p{
                text-align: right;
            }
        }
        .kulturpass-image{
            grid-area: 2 / 1 / 4 / 2;
        }

        .accueil-ouverture{
            grid-area: 4 / 1 / 6 / 3;
            .h2title{
                justify-content: start;
            }
        }
        .ouverture-image{
            grid-area: 3 / 2 / 5 / 3;
        }
    }
}

.h2title{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
    @include rwd(1366){
        padding:0;
    }
}

.lecture-horaires{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include lg{
        flex-direction: row;
    }
    div{
        width: 100%;
        @include lg{
            width: 47.5%;
        }
    }
}