

.recherche {
    display: grid;
    justify-content: center;
    grid-row-gap: 2em;
    grid-template-columns: 75%;
    @include lg{
        margin-top: 5em;
        display: grid;
        grid-template-columns: 2.5fr 1fr 1fr;
        grid-column-gap: 1em;
    }
}

.recherche-input {
    font-size: 2em;
    font-family: Futura;
    padding: 1em .75em;
    border: solid 1.5px $base-color;
}

.recherche-input:focus, .recherche-submit:focus {
    outline: none;
}

.recherche-submit {
    color: white;
    background: $highlight-color;
    font-size: 2em;
    font-family: Futura;
    padding: 1em .75em;
    border: none;
    cursor: pointer;
}

.livres {
    padding: 5em 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5em;
    @include lg{
        grid-template-columns: repeat(2, 1fr);
    }
    @include xl{
        grid-template-columns: repeat(3, 1fr);
    }
}

.livre {
    align-items: center;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    color: $base-color;
    @include lg{
        font-size: 2em;
        display: flex;
        flex-direction: column;
        color: $base-color;
    }
}

.livre span {
    align-self: flex-start;
}

.livre img {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
}