html{
    margin: 0; padding: 0;
    min-height: 100vh;
    font-size: 62.5%;
    font-family: "Futura";
    font-weight: 300;
}

body{
    margin: 0; padding: 0;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    background-color: $background;
    @include lg{
        flex-direction: row;
    }
}

h1 {
    font-family: "Butler";
    font-weight: 900;
    margin: 20px 0 0 0;
    color: $base-color;
    font-size: 6.8rem;
    @include lg{
        font-size: 12rem;
    }
    span {
        font-weight: 700;
    }
}

h2{
    font-size: 2.4rem;
    color: $background;
    display: inline-flex;
    padding: 15px 30px 15px 30px;
    border-radius: 55px;
    background-color: $highlight-color;
    white-space: nowrap;
    @include lg{
        font-size: 4rem;
    }
}

p, a{
    font-size: 1.8rem;
    color: $base-color;
    span{
        font-weight: 700;
    }
    @include lg{
        font-size: 2.1rem;
    }
}

a:hover{
    text-decoration: underline;
}

.content-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.langue{
    font-size: 2.1rem;
    color: $base-color;
    display:none;
    @include lg{
        display: block;
        position: absolute;
        top:14px; right:14px;
    }
    span{
        font-weight: 700;
    }
}

.content{
    width: 83%;
    @include lg{
        max-width: 975px;
    }
}

.h2title{
    display: flex;
    justify-content: center;
    width: 100%;
}

.lecture-horaires{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include lg{
        flex-direction: row;
    }
    div{
        width: 100%;
        @include lg{
            width: 47.5%;
        }
    }
}