@font-face {
    font-family: "Futura";
    src: url("../fonts/futura/lightbt.ttf") format("truetype");
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: "Futura";
    src: url("../fonts/futura/Futura\ Light\ Italic\ font.ttf") format("truetype");
    font-weight: lighter;
    font-style: italic;
}
@font-face {
    font-family: "Futura";
    src: url("../fonts/futura/mediumbt.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Futura";
    src: url("../fonts/futura/Futura\ Heavy\ font.ttf") format("truetype");
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: "futurahvbt";
    src: url("../fonts/futura/futurahvbt.ttf") format("truetype");
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: "Milkshake";
    src: url("../fonts/milkshake/regular.ttf") format("truetype");
    font-style: normal;
}