$pink: #FF8BA7;
$lightpink: #FAEEE7;
$lightblue: #8AC6D1;

$otherblue: #84D4D8;
$green: rgb(149, 223, 106);
$thirdblue: rgb(246, 248, 248);

$base-color: $otherblue;
$highlight-color: $green;
$background: $thirdblue;