$pink: #FF8BA7;
$lightpink: #FAEEE7;
$lightblue: #8AC6D1;

$otherblue: #84D4D8;
$green: rgb(149, 223, 106);
$thirdblue: rgb(246, 248, 248);

$flashygreen: #62C22B;
$lightgreen: #A6DC86;
$fourthblue: #6ECDFF;
$white: #FAEEE7;

$base-color: $flashygreen;
$second-color: $lightgreen;
$highlight-color: $fourthblue;
$background: $white;