$pink: #FF8BA7;
$lightpink: #FAEEE7;
$lightblue: #8AC6D1;

$otherblue: #84D4D8;
$green: rgb(149, 223, 106);
$thirdblue: rgb(246, 248, 248);

$flashygreen: #62C22B;
$lightgreen: #A6DC86;
$fourthblue: #6ECDFF;
$white: #FAEEE7;

$deeporange: #FF9123;
$lightorange: #FFB46A;
$electricblue: #34A5E0;
$verylightorange: #FAEEE7;
$grey: #545454;

$base-color: $deeporange;
$second-color: $lightorange;
$highlight-color: $electricblue;
$text-color: $grey;
$background: $verylightorange;