@font-face {
  font-family: "Futura";
  src: url("../fonts/futura/lightbt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/futura/mediumbt.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/futura/Futura Heavy font.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "futurahvbt";
  src: url("../fonts/futura/futurahvbt.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Milkshake";
  src: url("../fonts/milkshake/regular.ttf") format("truetype");
  font-style: normal;
}

header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 5;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #FF9123;
}

@media (min-width: 992px) {
  header {
    overflow-y: auto;
    padding: 0 2em;
    width: 300px;
    height: 100vh;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-right: 10px solid #FFB46A;
  }
}

header h2 {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 26px;
  font-family: futurahvbt;
  color: white;
  background: transparent;
}

.header-container {
  display: none;
}

@media (min-width: 992px) {
  .header-container {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-family: Futura;
  font-weight: 300;
  color: white;
  margin-bottom: .5em;
}

.active {
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
}

/* hamburger */
.header-content {
  width: 83%;
  display: block;
}

@media (min-width: 992px) {
  .header-content {
    display: none;
  }
}

.hamburger {
  display: inline-block;
  cursor: pointer;
}

@media (min-width: 992px) {
  .hamburger {
    display: none;
  }
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #FAEEE7;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.test {
  z-index: 1;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  opacity: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #FF9123;
  overflow: scroll;
}

@media (min-width: 992px) {
  .test {
    display: none;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(0vh);
          transform: translateY(0vh);
  opacity: 1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #FF9123;
  -webkit-transition: -webkit-transform ease-in-out 400ms;
  transition: -webkit-transform ease-in-out 400ms;
  transition: transform ease-in-out 400ms;
  transition: transform ease-in-out 400ms, -webkit-transform ease-in-out 400ms;
}

@media (min-width: 992px) {
  .menu {
    display: none;
  }
}

.menu h2 {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 38px;
  font-family: futurahvbt;
  color: white;
  background: transparent;
}

#dropdownactivitesbutton {
  cursor: pointer;
  font-size: 26px;
}

.dropdownactivites {
  display: none;
}

.displayflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-fill {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header-logo {
  width: 160px;
  margin-bottom: 20px;
}

/* width */
::-webkit-scrollbar {
  width: 12.5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FF8BA7;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c3c3c3;
}

html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 62.5%;
  font-family: "Futura";
  font-weight: 300;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FAEEE7;
}

@media (min-width: 992px) {
  body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

h1 {
  font-family: "Milkshake";
  font-weight: 900;
  margin: 20px 0 0 0;
  color: #FF9123;
  font-size: 6.8rem;
  text-align: center;
}

@media (min-width: 992px) {
  h1 {
    font-size: 12rem;
  }
}

h1 span {
  font-weight: 700;
}

h2 {
  font-size: 2.4rem;
  margin: 0;
  color: #FAEEE7;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 15px 30px 15px 30px;
  border-radius: 55px;
  background-color: #34A5E0;
  white-space: nowrap;
}

@media (min-width: 992px) {
  h2 {
    font-size: 4rem;
  }
}

section p:first-of-type {
  text-indent: 50px;
}

section .dontindent {
  text-indent: 0px !important;
}

p, a {
  font-size: 1.8rem;
  color: #545454;
  text-decoration: none;
}

p span, a span {
  color: #FF9123;
  font-weight: 700;
}

@media (min-width: 992px) {
  p, a {
    font-size: 2.1rem;
  }
}

a:hover {
  text-decoration: underline;
}

form {
  width: 80%;
  margin: 30px auto 30px auto;
}

@media (min-width: 992px) {
  form {
    width: 60%;
  }
}

form input[type="text"], form input[type="email"], form textarea {
  width: calc(100% - 33px);
  padding: 10px 15px;
  border: 1px solid #FF9123;
  margin-bottom: 10px;
}

form textarea {
  resize: vertical;
  height: 18rem;
}

form input[type="submit"] {
  width: 100%;
  padding: 8px 15px;
  text-align: center;
  font-weight: bold;
  background-color: #FF9123;
  color: white;
  border: none;
}

hr {
  border: none;
  height: 1px;
  background-color: #FF9123;
}

.image {
  background-color: #FFB46A;
  height: 36vw;
  border-radius: 40px;
}

@media (min-width: 992px) {
  .image {
    height: 26vw;
  }
}

@media (min-width: 1365px) {
  .image {
    height: 100%;
  }
}

.content-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.langue {
  font-size: 2.1rem;
  color: #34A5E0;
  display: none;
}

@media (min-width: 992px) {
  .langue {
    display: block;
    position: absolute;
    top: 14px;
    right: 14px;
  }
}

.langue a {
  color: #34A5E0;
}

.langue span {
  font-weight: 700;
}

.content {
  width: 83%;
}

@media (min-width: 992px) {
  .content {
    max-width: 975px;
  }
}

.icon {
  height: 36px;
  width: 36px;
  margin: 10px;
  margin-bottom: -10px;
}

.accueil-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1365px) {
  .accueil-middle {
    display: -ms-grid;
    display: grid;
    width: 100%;
    max-width: 975px;
    margin-top: 60px;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: 235px 260px 85px 85px 185px;
        grid-template-rows: 235px 260px 85px 85px 185px;
    grid-column-gap: 80px;
    grid-row-gap: 50px;
  }
  .accueil-middle .accueil-news .h2title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .accueil-middle .accueil-kulturpass {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .accueil-middle .accueil-kulturpass .h2title {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .accueil-middle .accueil-kulturpass p {
    text-align: right;
  }
  .accueil-middle .kulturpass-image {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 4 / 2;
  }
  .accueil-middle .accueil-ouverture {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 4 / 1 / 6 / 3;
  }
  .accueil-middle .accueil-ouverture .h2title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .accueil-middle .ouverture-image {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 3 / 2 / 5 / 3;
  }
}

.h2title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-top: 30px;
}

.h2title h2 {
  font-family: "Milkshake";
}

@media (min-width: 1366px) {
  .h2title {
    padding: 0;
  }
}

.lecture-horaires {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 992px) {
  .lecture-horaires {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.lecture-horaires div {
  width: 100%;
}

@media (min-width: 992px) {
  .lecture-horaires div {
    width: 47.5%;
  }
}

.aide-section h2 {
  background-color: #0000;
  text-decoration: underline;
  font-size: 2.4em;
  color: #34A5E0;
}

.aide-section p {
  margin-left: 100px;
}

.creches-section h2 {
  font-weight: 200;
  background-color: #0000;
  text-decoration: underline;
  font-size: 2.15em;
  color: #FF9123;
}

.creches-section h3 {
  padding: 0 30px;
  font-weight: 400;
  background-color: #0000;
  font-size: 2em;
  color: #FF9123;
}

.creches-section p {
  margin-left: 100px;
}

.livredor-entry {
  margin: 30px 0 60px 0;
}

.livredor-entry p {
  margin: 8px 0;
}

.livredor-entry .livredor-message {
  margin: 30px 0;
}

.programme-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #FF9123;
  border-radius: 20px;
  padding: 20px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  .programme-single {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.programme-single .programme-content p {
  margin: 5px;
}

.programme-single img {
  width: 115px;
  height: 140px;
  background-color: #FFB46A;
  border: 1px solid #FF9123;
}

.recherche {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-row-gap: 2em;
  -ms-grid-columns: 75%;
      grid-template-columns: 75%;
}

@media (min-width: 992px) {
  .recherche {
    margin-top: 5em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2.5fr 1fr 1fr;
        grid-template-columns: 2.5fr 1fr 1fr;
    grid-column-gap: 1em;
  }
}

.recherche-input {
  font-size: 2em;
  font-family: Futura;
  padding: 1em .75em;
  border: solid 1.5px #FF9123;
}

.recherche-input:focus, .recherche-submit:focus {
  outline: none;
}

.recherche-submit {
  color: white;
  background: #34A5E0;
  font-size: 2em;
  font-family: Futura;
  padding: 1em .75em;
  border: none;
  cursor: pointer;
}

.livres {
  padding: 5em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 5em;
}

@media (min-width: 992px) {
  .livres {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .livres {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.livre {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FF9123;
}

@media (min-width: 992px) {
  .livre {
    font-size: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #FF9123;
  }
}

.livre span {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 992px) {
  .livre span {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.livre img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.footer-fill {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

footer {
  font-size: 1.6rem;
  margin: 20px 0 20px 0;
  color: #34A5E0;
}

footer span {
  font-weight: 700;
}

@media (min-width: 992px) {
  footer {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=styles.css.map */