@import 'fonts';
@import 'palette';
@import 'media';
@import 'breakpoints';
@import 'content';
@import 'footer';

header{
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: $base-color;
    @include lg{
        width: 300px;
        height: 100vh;
        flex-shrink: 0;
        border-right: 10px solid $highlight-color;
    }
}